openapi: 3.1.0
info:
  title: api-ipfinder
  version: 1.0.0
  description: |
    Returns the caller's public IP address, derived from the
    `CF-Connecting-IP` header (set by Cloudflare) and falling back to
    `X-Forwarded-For`, then to `0.0.0.0`.
servers:
  - url: https://api.ipfinder.de
paths:
  /:
    get:
      summary: Get the caller's IP address
      description: |
        Returns the IP address of the requesting client. By default the
        response is plain text; pass `format=json` to receive JSON.
      parameters:
        - in: query
          name: format
          required: false
          schema:
            type: string
            enum: [json]
          description: If set to `json`, the response is returned as JSON.
      responses:
        "200":
          description: The caller's IP address.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
          content:
            text/plain:
              schema:
                type: string
                example: 203.0.113.42
            application/json:
              schema:
                $ref: "#/components/schemas/IpResponse"
              examples:
                json:
                  value:
                    ip: 203.0.113.42
                    proxies:
                      - 2001:db8:85a3:8d3:1319:8a2e:370:7348
components:
  schemas:
    IpResponse:
      type: object
      required: [ip, proxies]
      properties:
        ip:
          type: string
          description: The caller's IP address.
          example: 203.0.113.42
        proxies:
          type: array
          description: |
            Chain of intermediate proxies the request traversed, parsed
            from the `X-Forwarded-For` header with the caller's `ip`
            removed. Element `0` is the first proxy traversed after the
            client; subsequent elements follow in traversal order.
            Empty if no `X-Forwarded-For` header was present or it only
            contained the client IP.
          items:
            type: string
          example:
            - 2001:db8:85a3:8d3:1319:8a2e:370:7348
